
body {
    background-image: url(https://bit.ly/3oVh3Wp);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: papyrus;
    padding:0;
    margin:0;
    }
    
    h1 {
        text-align: center;
    }
    h3 {
        text-align: center;
        font-size: 30px;
    }
    #app{
        position: absolute;
         
        
        left:30vw;
    }
    
    
    
    .container{
        height: 200px;
        
        position: relative;
        border: 3px solid transparent; 
        text-align: center;
        padding-top: 5px;
        float:left;
    }
    .container:nth-child(2n+1){
        clear:left;
    }
    
    button {
        height: 200px;
        width: 200px;
        color: rgb(255, 255, 255);
        text-shadow: rgb(0, 0, 0) 2px 2px;
        border: 10px;
        border-color: hotpink;
        border-style: solid;
        text-align: center;
        justify-content: center;
        font-family: 'Courier New', Courier, monospace;
        font-size: 30px;
        line-height: 65px;
        font-weight: bold;
        
    }
    
    .colorBox0{
        background-color: black;
    }
    .colorBox1{
        background-color: rgba(47, 116, 7, 1);
    }
    .colorBox2{
        background-color: blue;
    }
    .colorBox3{
        background-color: yellow;
    }
    